<div class="card">
  <img src="{{listing.imageUrl}}" class="card-img-top" alt="Listing Image">
  <div class="card-body">
    <h5 class="card-title">Listing ID: {{listing._id}}</h5>
    <p class="card-text"><strong>Listing URL:</strong> <a href="{{listing.listing_url}}" target="_blank">{{listing.listing_url}}</a></p>
    <p class="card-text"><strong>Summary:</strong> {{listing.summary}}</p>
    <p class="card-text"><strong>Space:</strong> {{listing.space}}</p>
    <p class="card-text"><strong>Description:</strong> {{listing.description}}</p>
    <p class="card-text"><strong>Neighborhood Overview:</strong> {{listing.neighborhood_overview}}</p>
    <p class="card-text"><strong>Notes:</strong> {{listing.notes}}</p>
    <p class="card-text"><strong>Transit:</strong> {{listing.transit}}</p>
    <p class="card-text"><strong>Accommodates:</strong> {{listing.accommodates}}</p>
    <p class="card-text"><strong>Bedrooms:</strong> {{listing.bedrooms}}</p>
    <p class="card-text"><strong>Beds:</strong> {{listing.beds}}</p>
    <a href="/" class="btn btn-primary">Back to Listings</a>
  </div>
</div>
